<app-card>
  <app-card-header
    title="Educação"
    icon="remixGraduationCapFill"
  ></app-card-header>
  <div class="container">
    @for (education of educations(); track education.name) {
    <app-card-button>
      <div class="container__frame">
        <img
          [src]="education.logo"
          [alt]="education.name"
          class="container__logo"
        />
      </div>
    </app-card-button>
    }
    <app-card-button>
      <svg-icon
        class="container__screw icon--soft-purple"
        src="assets/icons/screw.svg"
      />
    </app-card-button>
    <app-card-button>
      <svg-icon
        class="container__screw icon--soft-purple"
        src="assets/icons/screw.svg"
      />
    </app-card-button>
  </div>
</app-card>
