@use '_variables' as *;

@keyframes contact-slider-scroll {
  to {
    transform: translateX(2.371em);
  }
}

:host {
  display: flex;
  .contact {
    flex-direction: row;
    display: flex;
    width: 100%;
    background-color: $dark-green;
    border-radius: $border-radius;
    padding: $padding;

    &:hover .slider__wrapper-bg::before {
      animation: contact-slider-scroll 3s linear infinite;
    }

    .slider {
      &,
      &__wrapper {
        width: 100%;
        align-items: center;
        display: flex;
        position: relative;
      }

      &__wrapper {
        &-bg {
          border-radius: $radius-sm;
          position: absolute;
          top: 0%;
          bottom: 0%;
          left: 0%;
          right: 0%;
          overflow: hidden;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -2.371em;
            width: calc(100% + 2.371em);
            background-image: repeating-linear-gradient(
              -35deg,
              #29a445 0,
              #29a445 0.72em,
              #32ca55 0.72em,
              #32ca55 1.36em
            );
          }
        }

        &-btn {
          z-index: 2;
          display: flex;
          width: 100%;
          justify-content: center;
          position: relative;
        }
      }
    }
  }
}
