<div class="contact">
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__wrapper-bg">
        <img src="assets/images/slider.svg" alt="" />
        <img src="assets/images/slider.svg" alt="" />
        <img src="assets/images/slider.svg" alt="" />
      </div>
      <div class="slider__wrapper-btn">
        @if (profile.value(); as profile) {
        <a [href]="'mailto:' + profile.email" app-button i18n="@@contactCta">Contato</a>
        }
      </div>
    </div>
  </div>
</div>
