@use '_variables' as *;

.round-btn {
  cursor: pointer;
  margin-top: -0.5em;
  overflow: hidden;
  border-radius: 100em;

  &--big {
    min-height: 7em;
    display: flex;
    justify-content: center;
    transition: color 0.1s;
  }

  &--small {
    min-height: 4em;
  }

  &:hover & {
    &__up {
      box-shadow: none;
      transform: translateY(0.5em);
    }
  }

  &:active & {
    &__up {
      box-shadow: 0 -0.5em 0 $purple, inset 0 100em 100em rgba(0, 0, 0, 0.1);
      transform: translateY(1em);
    }
  }

  &--radius {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }

  &__up {
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.1s, transform 0.1s;
    display: flex;
    border-radius: 100em;
    padding-left: 1.11em;
    padding-right: 1.11em;

    &--small {
      min-height: 3.54em;
    }

    &--big {
      width: 6.5em;
      height: 6.5em;
    }

    &--purple {
      box-shadow: 0 0.5em 0 $purple;
      background-color: $medium-purple;
      color: $smoke;
    }
  }
}
