<div class="contact">
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__wrapper-bg">
        <img src="assets/images/slider.svg" alt="slider" />
        <img src="assets/images/slider.svg" alt="slider" />
        <img src="assets/images/slider.svg" alt="slider" />
      </div>
      <div class="slider__wrapper-btn">
        @if (profile(); as profile) {
        <a [href]="'mailto:' + profile.email" app-button>Contato</a>
        }
      </div>
    </div>
  </div>
</div>
