@use '_variables' as *;

:host {
  padding: 0 $padding;
  .contact {
    flex-direction: row;
    display: flex;
    width: 100%;
    background-color: $dark-green;
    border-radius: $border-radius;
    padding: $padding;

    .slider {
      width: 100%;
      background-color: $dark-green;
      align-items: center;
      display: flex;
      position: relative;

      &__wrapper {
        width: 100%;
        background-color: $dark-green;
        align-items: center;
        display: flex;
        position: relative;

        &-bg {
          border-radius: 0.28em;
          display: flex;
          position: absolute;
          top: 0%;
          bottom: 0%;
          left: 0%;
          right: 0%;
          overflow: hidden;
          gap: 3em;

          img {
            transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            width: 14.4em;
            height: 3.6em;
          }
        }

        &-btn {
          z-index: 2;
          display: flex;
          width: 100%;
          justify-content: center;
          position: relative;
        }
      }
    }
  }
}
