<div class="contact">
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__wrapper-bg">
        <img src="assets/images/slider.svg" alt="slider" />
        <img src="assets/images/slider.svg" alt="slider" />
        <img src="assets/images/slider.svg" alt="slider" />
      </div>
      <div class="slider__wrapper-btn">
        <div class="btn">
          <button type="button" class="btn__up btn__up--yellow">
            <span>Contato</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
