@use '_variables' as *;

:host {
  display: flex;
  width: 100%;
  height: 100%;

  .hatch {
    width: 100%;
    background-color: $dark-purple;
    border-radius: $border-radius;
    padding: $padding;

    &__toggle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    &__title {
      font-weight: bolder;
      color: $smoke;
    }

    &__screw svg {
      width: 2.22em;
      height: 2.22em;
    }

    &__content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease;

      &--open {
        max-height: 40em;
        margin-top: $padding;
      }

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }

  .container {
    display: grid;
    gap: $padding;
    grid-template-columns: 1fr 1fr;
  }

  .course {
    cursor: pointer;
    width: 100%;

    &__frame {
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: $radius-pill;
      width: 6.5em;
      height: 6.5em;
      border: 0.3em solid $soft-purple;
    }

    &__logo {
      width: 100%;
      height: 100%;
      max-height: 2em;
      max-width: 4em;
    }
  }
}
