@use '_variables' as *;

:host {
  display: block;
  padding-left: $padding;
  padding-right: $padding;
  padding-bottom: $padding;
  border-bottom: 0.2em solid $dark-green;
  .header {
    display: flex;
    align-items: center;
    &__logo {
      width: 2em;
      margin-right: $padding;
      color: $black-green;
    }
    &__title {
      font-size: 1.1em;
      font-weight: bolder;
      color: $black-green;
    }
    &__dots {
      width: 4em;
      object-fit: contain;
      margin-left: auto;
    }
  }
}
