<div
  id="projects-carousel"
  role="region"
  aria-roledescription="carrossel"
  aria-label="Projetos"
  class="embla"
  emblaCarousel
  [options]="options"
>
  <div class="embla__container">
    @for (project of projects.value(); track project.title) {
    <a
      class="embla__slide"
      aria-roledescription="slide"
      [href]="project.site || project.github"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img [ngSrc]="project.image" [alt]="project.title" fill [priority]="$first" />
    </a>
    }
  </div>
</div>
