@use '_variables' as *;

:host {
  border-radius: $border-radius;
  background-color: $dark-green;
  padding: $padding;

  .skills {
    &-header {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.11em;
      display: flex;

      h3 {
        color: $light-green;
        align-items: center;
        margin-right: 1.11em;
        display: flex;
      }

      &-line {
        height: 0.3em;
        background-color: $green;
        border-radius: 100em;
        flex: 1;
      }
    }

    &-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;

      &-btn {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        padding: 0.25em 1em;
        background-color: $black-green;
        text-transform: uppercase;
        font-weight: bolder;
        color: $light-green;
        border-radius: $padding;
        cursor: pointer;
        font-size: 0.9em;

        img {
          width: 0.9em;
        }
      }
    }
  }
}
