@use '_variables' as *;

:host {
  height: 18.89em;
  background-color: $purple;
  border-radius: $border-radius;
  margin-top: $padding;
  margin-bottom: $padding;
  padding: 0.9em;
  position: relative;
  overflow: hidden;
  div {
    height: 100%;
    background-color: $medium-purple;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
  }
}
