@use '_variables' as *;

:host {
  padding: 0 $padding;
  .avatar {
    height: 18.89em;
    background-color: $purple;
    border-radius: $border-radius;
    margin-top: $padding;
    margin-bottom: $padding;
    padding: 0.9em;
    position: relative;
    overflow: hidden;
    &__container {
      height: 100%;
      background-color: $medium-purple;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s;
      display: flex;
      position: relative;
      overflow: hidden;
      border-radius: 0.5em;

      img {
        height: 100%;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
