<app-card type="row"
  ><div class="container">
    <div class="container__screws">
      <svg-icon class="screw icon--soft-purple" src="assets/icons/screw.svg" />
      <svg-icon class="screw icon--soft-purple" src="assets/icons/screw.svg" />
    </div>
    <svg-icon
      class="icon--soft-purple container__dots"
      src="assets/images/sound-dots.svg"
    />
    <div class="container__screws">
      <svg-icon class="screw icon--soft-purple" src="assets/icons/screw.svg" />
      <svg-icon class="screw icon--soft-purple" src="assets/icons/screw.svg" />
    </div>
  </div>
</app-card>
