@use '_variables' as *;

:host {
  .projects {
    &__head {
      align-items: center;
      display: flex;
      gap: $padding;
    }
  }

  .slider {
    max-width: 34.72em;
  }

  .icon {
    width: 1.6em;
    height: 1.39em;

    &--rotate {
      transform: rotate(180deg);
    }
  }
}
