@use '_variables' as *;

:host {
  display: flex;
  .projects {
    &__head {
      align-items: center;
      display: flex;
      gap: $padding;
    }

    &__carousel {
      min-height: 20em;
      background-color: $purple;
      border-radius: 0.83em;
      padding: 0.9em;
      position: relative;
      overflow: hidden;
    }

    &__icon {
      width: 1.6em;
      height: 1.39em;

      &--rotate {
        transform: rotate(180deg);
      }
    }
  }
}
