<div class="container">
  <div class="grid">
    <app-home-panel-left class="main-grid" />
    <app-home-panel-center class="main-grid" />
    <app-home-panel-right class="main-grid" />
    <div class="footer">
      <div class="footer__bar"></div>
      <div class="footer__text">
        © {{ currentYear }} -
        <a
          class="footer__link"
          target="_blank"
          href="https://github.com/pedrobealves/portfolio"
          >Github</a
        >
      </div>
    </div>
  </div>
</div>
