<app-card>
  <div class="projects__head">
    <app-card-header title="projetos" i18n-title="@@projectsTitle" icon="faSolidImage" />
    <button
      type="button"
      app-round-button
      size="small"
      aria-label="Projeto anterior"
      aria-controls="projects-carousel"
      (click)="carousel.scrollPrev()"
    >
      <div class="projects__icon">
        <svg-icon aria-hidden="true" src="assets/icons/arrow.svg"></svg-icon>
      </div>
    </button>
    <button
      type="button"
      app-round-button
      size="small"
      aria-label="Próximo projeto"
      aria-controls="projects-carousel"
      (click)="carousel.scrollNext()"
    >
      <div class="projects__icon projects__icon--rotate">
        <svg-icon aria-hidden="true" src="assets/icons/arrow.svg"></svg-icon>
      </div>
    </button>
  </div>
  <div class="projects__carousel">
    <app-home-carousel #carousel />
  </div>
</app-card>
