@use '_variables' as *;

:host {
  display: flex;
  align-items: center;

  .language {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-green;
    border-radius: $border-radius;
    padding: $padding;
  }

  .switch {
    display: block;
    position: relative;
    width: 5em;
    height: 3em;
    background-color: $dark-yellow;
    border-radius: $radius-md;
    cursor: pointer;

    &__knob {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2.4em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $yellow;
      color: $dark-yellow;
      border-radius: $radius-sm 0 0 $radius-sm;
      font-weight: bolder;
      transition: left 0.15s;
    }

    &--en .switch__knob {
      left: calc(100% - 2.4em);
      border-radius: 0 $radius-sm $radius-sm 0;
    }
  }
}
