@use '_variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: $smoke;
  background-color: $dark-purple;
  letter-spacing: 0.08em;
  font-family: Lato, sans-serif;
  font-size: 0.9vw;
  font-weight: 700;
  line-height: 1.2;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    font-size: 3vw;
  }

  @media screen and (min-width: 1440px) {
    font-size: 13px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a {
  overflow-wrap: break-word;
}

button {
  all: unset;
  display: block;
  unicode-bidi: isolate;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.main-grid {
  flex-direction: column;
  display: flex;
  gap: $padding;
}

a {
  text-decoration: none;
}

a:focus-visible,
button:focus-visible {
  outline: 0.15em solid $yellow;
  outline-offset: 0.15em;
}

.round-btn {
  &:hover & {
    &__icon {
      path {
        fill: $smoke;
      }
    }
  }
  &__icon {
    width: 2em;
    height: 2em;
  }
}

.icon {
  &--yellow {
    path {
      fill: $yellow;
    }
  }

  &--purple {
    path {
      fill: $white-purple;
    }
  }

  &--medium-purple {
    path {
      fill: $medium-purple;
    }
  }

  &--soft-purple {
    path {
      fill: $soft-purple;
    }
  }
}

.screw {
  width: 2.22em;
  height: 2.22em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.detail {
  &__period,
  &__list li,
  &__tech {
    background-color: $dark-purple;
    border-radius: $radius-md;
    padding: $padding;
  }
  &__period {
    color: $green;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: $padding;
  }
  &__tech {
    color: $pale-purple;
    font-size: 0.85em;
  }
  &__links {
    display: flex;
    gap: $padding;
    background-color: $dark-purple;
    border-radius: $radius-md;
    padding: $padding;

    a {
      flex: 1;
    }

    span {
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      display: flex;
    }
  }
}
