@use '_variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: $smoke;
  background-color: $dark-purple;
  letter-spacing: 0.08em;
  font-family: Lato, sans-serif;
  font-size: 0.9vw;
  font-weight: 700;
  line-height: 1.2;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    font-size: 3vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a {
  overflow-wrap: break-word;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.main-grid {
  flex-direction: column;
  display: flex;
  gap: $padding;
}

.big-round-btn {
  &:hover & {
    &__icon {
      &--purple path {
        fill: $smoke;
      }
    }
  }
  &__icon {
    width: 2em;
    height: 2em;

    &--purple path {
      fill: $white-purple;
    }
  }
}

.header__icon--yellow {
  path {
    fill: $yellow;
  }
}
