
$neutral-50: oklch(0.96 0.03 94.3);
$neutral-100: oklch(0.93 0.03 84.6);
$dark-purple: oklch(0.24 0.05 305);
$purple: oklch(0.2 0.06 305);
$medium-purple: oklch(0.28 0.05 306);
$soft-purple: oklch(0.36 0.04 308);
$white-purple: oklch(0.48 0.03 309);
$green: oklch(0.87 0.24 147);
$dark-green: oklch(0.74 0.2 147);
$black-green: oklch(0.63 0.17 147);
$light-green: oklch(0.88 0.21 148);
$smoke: oklch(0.82 0 0);
$red: oklch(0.61 0.22 6.4);
$dark-red: oklch(0.45 0.15 4.12);
$blue: oklch(0.45 0.17 266);
$dark-blue: oklch(0.4 0.15 266);
$yellow: oklch(0.8 0.15 81.8);
$dark-yellow: oklch(0.65 0.12 81.2);
$white-smoke: oklch(0.95 0.03 86.9);
$dark-white: oklch(0.74 0 0);

$padding: 1.11em;
$border-radius: .83em;