<div class="card">
  <div class="card__container card__container--row">
    <div class="card-round-btn">
      <div class="screws">
        <div class="screw screw--purple"></div>
        <div class="screw screw--purple"></div>
      </div>
      <div class="big-round-btn big-round-btn--purple big-round-btn--radius">
        <div class="big-round-btn__up"></div>
      </div>
      <div class="screws">
        <div class="screw screw--purple"></div>
        <div class="screw screw--purple"></div>
      </div>
    </div>
    <div class="card-round-btn">
      <div class="screws">
        <div class="screw screw--purple"></div>
        <div class="screw screw--purple"></div>
      </div>
      <div class="big-round-btn big-round-btn--purple big-round-btn--radius">
        <div class="big-round-btn__up"></div>
      </div>
      <div class="screws">
        <div class="screw screw--purple"></div>
        <div class="screw screw--purple"></div>
      </div>
    </div>
    <div class="card-round-btn">
      <div class="screws">
        <div class="screw screw--purple"></div>
        <div class="screw screw--purple"></div>
      </div>
      <div class="big-round-btn big-round-btn--purple big-round-btn--radius">
        <div class="big-round-btn__up"></div>
      </div>
      <div class="screws">
        <div class="screw screw--purple"></div>
        <div class="screw screw--purple"></div>
      </div>
    </div>
  </div>
</div>
